.container {
	width: 90%;
	margin-left: 5%;
}

h1 {
	font-family: sans-serif;
}
h3 {
	font-family: sans-serif;
}

#vid-select {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.vid-option {
	width: 250px;
	height: 40px;
	border: 1px solid lightgray;
	border-radius: 5px;
	background-color: white;
	font: 16px sans-serif;
	margin: 4px;
}
.vid-option:focus {
	background-color: #1d80ff;
	color: white;
	outline: none;
}
.vid-option:hover {
	background-color: #b3b3b321;
}

.vid-done {
	background-color: #3cb37136;
}
