.plyr {
	width: 640px;
	height: 480px;
}

.container {
	width: 80%;
	margin-left: 10%;
}

h1 {
	font-family: sans-serif;
}

#main-area {
	height: 480px;
	display: flex;
	flex-flow: row;
	flex-direction: row;
	flex-wrap: nowrap;
}

#act_select {
	width: 250px;
	height: 470px;
	border-radius: 5px;
	border: 1px solid lightgray;
	padding: 3px;
	margin-left: 20px;
}

#slider-area {
	margin-top: 15px;
	margin-bottom: 15px;
	display: flex;
	flex-flow: row;
	flex-wrap: nowrap;
}
#speed-slider {
	width: 540px;
}
#speed-disp {
	padding-top: 13px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 14px;
	font-family: sans-serif;
	color: white;
	background-color: #6495edf0;
	border-radius: 10px;
	margin-left: 10px;
	width: auto;
}

.act-button {
	width: 100%;
	height: 43px;
	border: none;
	background-color: white;
	font: 16px sans-serif;
	border-bottom: 1px solid lightgray;
	display: flex;
	text-align: left;
	justify-content: space-between;
	padding: 2px;
}
.act-button:focus {
	outline: none;
}
.act-button-focused {
	background-color: #1d80ff !important;
	color: white !important;
	outline: none;
}

.btn-num {
    color: white;
    height: 30px;
    width: 13%;
    line-height: 33px;
    text-align: center;
    border-radius: 4px;
    padding: 2px;
    font-size: 1.2vw;
}
.btn-txt {
	width: 80%;
	font-size: 1vw;
}

#act0-button > div[class=btn-num] {
	background-color: black;
}
#act1-button > div[class=btn-num] {
	background-color: lightgray;
}
#act2-button > div[class=btn-num] {
	background-color: yellow;
}
#act3-button > div[class=btn-num] {
	background-color: orange;
}
#act4-button > div[class=btn-num] {
	background-color: pink;
}
#act5-button > div[class=btn-num] {
	background-color: brown;
}
#act6-button > div[class=btn-num] {
	background-color: purple;
}
#act7-button > div[class=btn-num] {
	background-color: red;
}
#act8-button > div[class=btn-num] {
	background-color: blue;
}
#act9-button > div[class=btn-num] {
	background-color: green;
}
#act10-button > div[class=btn-num] {
	background-color: deepskyblue;
}

#done-button {
	height: 40px;
	width: 100px;
	background-color: #6495edf0;
	border-radius: 4px;
	border: none;
	color: white;
	font-size: 18px;
	font-family: sans-serif;
}

#back-button {
	height: 40px;
	width: 100px;
	background-color: green;
	border-radius: 4px;
	border: none;
	color: white;
	font-size: 18px;
	font-family: sans-serif;
}
