#segm-display-area {
	margin-top: 10px;
}

#segm_display {
	width: 640px;
	height: 40px;
	display: flex;
	flex-direction: row;
	flex-flow: row;
	flex-wrap: nowrap;
	border: 1px solid lightgray;
}

.act {
	height: inherit;
}
.act > p {
	height: inherit;
	font-size: 11px;
	font-family: sans-serif;
	line-height: 40px;
	margin: 0px;
	margin-left: 5px;
}

.act0 {
	background-color: white;
}
.act1 {
	background-color: lightgray;
}
.act2 {
	background-color: yellow;
}
.act3 {
	background-color: orange;
}
.act4 {
	background-color: pink;
}
.act5 {
	background-color: brown;
}
.act6 {
	background-color: purple;
}
.act7 {
	background-color: red;
}
.act8 {
	background-color: blue;
}
.act9 {
	background-color: green;
}
